<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="sgbn" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />
  </head>
  
  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">
      var WRInitTime=(new Date()).getTime();
    </script>
    
    
    <div id="content">
      <h1 class="title">Non-geek's page</h1>
      <div id="navigation">
	<a href="/index.html">home</a>
	<a href="/blog.html">blog</a>
	<a href="/404.html">contact</a>
	<a href="/404.html">repo</a>
      </div>
      <hr style="width: 100%; height: 3px;">
      <br>
      {{ content }}

      <div class="footer">
	<hr style="width: 100%; height: 1px;">
	<div align="center"><i><font size="-1">Copyright © sgbn - 23th Sep 2012</font></i></div>
	<br>
      </div>
    </div>
  </body>
  
</html>
